mixed-port: 7890
allow-lan: false
mode: rule
log-level: warning
ipv6: false
external-controller: 127.0.0.1:9090
dns:
  enable: true
  listen: ":1053"
  ipv6: false
  prefer-h3: true
  enhanced-mode: redir-host
  nameserver:
    - https://223.5.5.5/dns-query
    - https://1.0.0.1/dns-query
  nameserver-policy:
    "geosite:cn,private":
      - https://223.5.5.5/dns-query
      - system
      - dhcp://system
sniffer:
  enable: true
  sniff:
    HTTP:
      ports: [80, 8080-8880]
      override-destination: true
    TLS:
      ports: [443, 8443]
    QUIC:
      ports: [443, 8443]
tcp-concurrent: true
